<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>DVDCatalog2</servlet-name>
        <servlet-class>DVDCatalog2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sd</servlet-name>
        <servlet-class>sd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuantityController</servlet-name>
        <servlet-class>controller.AddQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDVDCatalogController</servlet-name>
        <servlet-class>controller.ConfirmDVDCatalogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DVDcatalogController</servlet-name>
        <servlet-class>controller.DVDcatalogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>controller.cartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DVDCatalog2</servlet-name>
        <url-pattern>/DVDCatalog2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sd</servlet-name>
        <url-pattern>/sd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuantityController</servlet-name>
        <url-pattern>/AddQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDVDCatalogController</servlet-name>
        <url-pattern>/ConfirmDVDCatalogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DVDcatalogController</servlet-name>
        <url-pattern>/DVDcatalogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
